/* Initally hide all sections of the page apart from the Athlete list section */
#athleteDataSection {
    display: none;
}

#addAnAthleteSection {
    display: none;
}

#raceDataSection {
    display: none;
}

#addRaceSection {
    display: none;
}